@import 'colors.scss';


body {
    background-color: silver;

    main { background-color: orange;}

    .main-container {
        height: 100px;
        color: $text-color;

        .blog-post {
            h1 {
              text-align: center;
              color: blue;
            }
            p {
              font-size: 20px;
            }
            }
        
    }
    footer {
        color: $secondary-color;
    }
    
}